<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>shangHanLun_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E7F6FCD31CD9D97700DE48DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7F6FCEC1CD9D97700DE48DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7F6FCF71CD9D97700DE48DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
